@model PaginationResult<CurrencyItemResponse>
@{
    Layout = "_Layout";
    var data = ViewBag.CategoryTool as List<CategoryToolResponse>;
    SelectList categoryTool = new SelectList(data, "CategoryId", "Title");
}

<div class="row">
  <div class="card mb-4">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <div class="btn-group mb-2" role="group" aria-label="Basic mixed styles example">
          <span class="badge rounded-pill bg-success p-2" role="button" id="add-currency-btn" title="Birim ekle">
            <i class="fa-solid fa-plus"></i>
          </span>
          <button type="button" class="badge rounded-pill bg-info p-2 border-0" id="filter-currency-btn" title="Birim Filtrele" data-bs-toggle="modal" data-bs-target="#filter-currency-popup">
            <i class="fa-solid fa-filter"></i>
          </button>
          <a asp-area="panel" asp-controller="Currencies" asp-action="Index"  class="badge rounded-pill bg-danger p-2 border-0" id="filter-currency-btn" title="Filtreleri temizle">
            <i class="fa-solid fa-filter"></i>
          </a>
        </div>
        <h3 class="card-title">Birimler Tablosu</h3>
        @await Html.PartialAsync("_SearchTool", new SearchModel())
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr class="text-center align-middle">
            <th>
              #
              @await Html.PartialAsync("_OrderTool", new SortModel("id"))
            </th>
            <th>
              Kategorisi
              @await Html.PartialAsync("_OrderTool", new SortModel("categoryTitle", true))
            </th>
            <th>
              Birim Kisaltmasi
              @await Html.PartialAsync("_OrderTool", new SortModel("title"))
            </th>
            <th>
              Birim Ismi
              @await Html.PartialAsync("_OrderTool", new SortModel("subTitle"))
            </th>
            <th>
              Alis Fiyati
              @await Html.PartialAsync("_OrderTool", new SortModel("purchasePrice"))
            </th>
            <th>
              Satis Fiyati
              @await Html.PartialAsync("_OrderTool", new SortModel("salePrice"))
            </th>
            <th>
              Trading View Kodu
              @await Html.PartialAsync("_OrderTool", new SortModel("tvCode"))
            </th>
            <th>
              Durum
              @await Html.PartialAsync("_OrderTool", new SortModel("isActive"))
            </th>
            <th style="width: 40px">Islemler</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var item in Model.Items)
          {
            <tr class="text-center align-middle">
              <td>
                @item.CurrencyId
              </td>
              <td>
                @(item.Category != null ? item.Category.Title : "")
              </td>
              <td>
                @item.Title
              </td>
              <td>
                @item.SubTitle
              </td>
              <td>
                @UIToolHelper.RenderTL(item.PurchasePrice)
              </td>
              <td>
                @UIToolHelper.RenderTL(item.SalePrice)
              </td>
              <td>
                @item.TvCode
              </td>
              <td>
                <span class='badge @(item.IsActive ? "bg-primary" : "bg-info")'>
                  @(item.IsActive ? "Aktif" : "Pasif")
                </span>
              </td>
              <td>
                <div class="d-inline-flex gap-1">
                  <a class="badge rounded-pill bg-info p-2" asp-area="panel" asp-controller="Currencies" asp-action="Info" asp-route-currencyId="@item.CurrencyId" title="@item.Title adli birim fiyat gecmisi">
                    <i class="fa-solid fa-landmark"></i>
                  </a>
                  <span class="badge rounded-pill bg-dark p-2 update-currencyPrice-btn" role="button"
                    data-currency-id="@item.CurrencyId" title="@item.Title adli birim fiyatini guncelle">
                    <i class="fa-solid fa-tag"></i>
                  </span>
                  <span class="badge rounded-pill bg-warning p-2 update-currency-btn" role="button"
                    data-currency-id="@item.CurrencyId" title="@item.Title adli birimi guncelle">
                    <i class="fa-solid fa-pencil"></i>
                  </span>
                  <span class='badge rounded-pill @(item.IsActive ? "bg-info" : "bg-primary") p-2 change-currency-status-btn'
                    role="button" data-currency-id="@item.CurrencyId"
                    title='@item.Title adli kategorinin durumunu @(item.IsActive ? "pasife" : "aktife") degistir'>
                    <i class='fa-solid @(item.IsActive ? "fa-lock" : "fa-lock-open")'></i>
                  </span>
                  <span class="badge rounded-pill bg-danger p-2 delete-currency-btn" role="button"
                    data-currency-id="@item.CurrencyId" title="@item.Title adli birimi sil">
                    <i class="fa-solid fa-trash"></i>
                  </span>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
      @await Html.PartialAsync("_PaginationTool", Model)
    </div>
  </div>
</div>

<div id="empty-container"></div>

@await Html.PartialAsync("_CurrencyFilterPopup", new CurrencyFilterViewModel(categoryTool))

@section Scripts {
  <script>
    $(document).ready(function () {
      const d = $("#empty-container");

      $("#add-currency-btn").off("click").on("click", function () {
        const fetchUrl = '@Url.Action("AddOperation", "Currencies", new { Area = "panel" })';
        openPopup(d, '#add-currency-popup', fetchUrl)
      });

      $(".update-currency-btn").off("click").on("click", function () {
        const id = $(this).data("currency-id");
        const fetchUrl = '@Url.Action("UpdateOperation", "Currencies", new { Area = "panel" })';
        openPopup(d, '#update-currency-popup', fetchUrl + "?currencyId=" + id)
      });

      $(".update-currencyPrice-btn").off("click").on("click", function () {
        const id = $(this).data("currency-id");
        const fetchUrl = '@Url.Action("UpdatePriceOperation", "Currencies", new { Area = "panel" })';
        openPopup(d, '#update-currencyPrice-popup', fetchUrl + "?currencyId=" + id)
      });

      $(".change-currency-status-btn").off("click").on("click", function () {
        const id = $(this).data("currency-id");
        const fetchUrl = '@Url.Action("ChangeStatusOperation", "Currencies", new { Area = "panel" })';
        statusPopup(fetchUrl + "?currencyId=" + id)
      });

      $(".delete-currency-btn").off("click").on("click", function () {
        const id = $(this).data("currency-id");
        const fetchUrl = '@Url.Action("DeleteOperation", "Currencies", new { Area = "panel" })';
        deletePopup(fetchUrl + "?currencyId=" + id)
      });

      $('#filter-currency-popup').on('shown.bs.modal', function () {
        $('.js-category-tool-multiple').select2({
            dropdownParent: $('#filter-currency-popup'),
            width: '100%',
            placeholder: "Kategori seçiniz",
            allowClear: true
        });
      });

    });
  </script>
}