@model List<UserAssetSummaryResponse>
@{
    Layout = null;
    decimal currencyPTotal = Model.Sum(x=> x.CurrentPurchasePriceTotal);
    decimal currencySTotal = Model.Sum(x=> x.CurrentSalePriceTotal);
    decimal pTotal = Model.Sum(x=> x.TotalPurchasePrice);
    decimal sTotal = Model.Sum(x=> x.TotalSalePrice);
    decimal cpTotal = Model.Sum(x=> x.PurchasedPurchasePriceTotal);
    decimal csTotal = Model.Sum(x=> x.PurchasedSalePriceTotal);
}

<div class="modal fade" id="user-summary-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class='modal-header bg-primary'>
                <h5 class="modal-title text-white">Kullanici Varlik Ozeti</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
                <div class="modal-body" id="modal-body">
                    @if (Model != null && Model.Any())
    {
        <div class="table-responsive mb-3">
            <table class="table table-sm table-bordered">
                <thead class="table-primary">
                    <tr>
                        <th>Birim</th>
                        <th>Miktar</th>
                        <th>Guncel Piyasa Alış</th>
                        <th>Guncel Piyasa Satış</th>
                        <th>Eklendigi Tarih Piyasa Alış</th>
                        <th>Eklendigi Tarih Piyasa Satış</th>
                        <th>Satin Alindigi Toplam Alış</th>
                        <th>Satin Alindigi Toplam Satış</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CurrencyTitle</td>
                            <td>@UIToolHelper.RenderCount(item.TotalCount)</td>
                            <td><b style="color:#228D57;">@UIToolHelper.RenderTL(item.CurrentPurchasePriceTotal)</b></td>
                            <td><b style="color:#228D57;">@UIToolHelper.RenderTL(item.CurrentSalePriceTotal)</b></td>
                            <td><b style="color:#228D57;">@UIToolHelper.RenderTL(item.PurchasedPurchasePriceTotal)</b></td>
                            <td><b style="color:#228D57;">@UIToolHelper.RenderTL(item.PurchasedSalePriceTotal)</b></td>
                            <td><b style="color:#228D57;">@UIToolHelper.RenderTL(item.TotalPurchasePrice)</b></td>
                            <td><b style="color:#228D57;">@UIToolHelper.RenderTL(item.TotalSalePrice)</b></td>
                        </tr>
                    }
                </tbody>
                <tfoot class="table-primary">
                    <tr>
                        <th>#</th>
                        <th>Miktar</th>
                        <th>Guncel Piyasa Alış<p><b style="color:#228D57;">@UIToolHelper.RenderTL(currencyPTotal)</b></p></th>
                        <th>Guncel Piyasa Satış<p><b style="color:#228D57;">@UIToolHelper.RenderTL(currencySTotal)</b></p></th>
                        <th>Eklendigi Tarih Piyasa Alış<p><b style="color:#228D57;">@UIToolHelper.RenderTL(cpTotal)</b></p></th>
                        <th>Eklendigi Tarih Piyasa Satış<p><b style="color:#228D57;">@UIToolHelper.RenderTL(csTotal)</b></p></th>
                        <th>Satin Alindigi Toplam Alış<p><b style="color:#228D57;">@UIToolHelper.RenderTL(pTotal)</b></p></th>
                        <th>Satin Alindigi Toplam Satış<p><b style="color:#228D57;">@UIToolHelper.RenderTL(sTotal)</b></p></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
    else
    {
        <p class="text-muted">Varlık özeti bulunamadı.</p>
    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
        </div>
    </div>
</div>