@model DropdownModel
@{
    Layout = null;
}

<div class="mb-3">
    <label for="@Model.Id" class="form-label">@Model.Title</label>
    <select class="form-select @Model.Class" id="@Model.Id" name="@Model.Name">
        <option value="0">Seçiniz</option>
        @foreach (var item in Model.Data)
        {
            if(item.Value == Model.SelectedData)
            {
                <option value="@item.Value" selected>@item.Text</option>
            }
            else
            {
                <option value="@item.Value">@item.Text</option>
            }          
        }
    </select>
</div>